spring:
  application:
    name: feign
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    discovery:
      client:
        simple:
          instances:
            github[0]:
              uri: https://api.github.com

logging:
  level:
    org:
      itrunner:
        openfeign:
          feign:
            AuthGitHubClient: DEBUG

feign:
  httpclient:
    enabled: true
  client:
    default-config: default
    default-to-properties: true
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

#github:
#  ribbon:
#    listOfServers: https://api.github.com